{% extends "includes/base.html" %}
{% load static %}
{% block content %}

<!-- DITO KA MAS START MAGLAGAY NG LAMAN NG BODY -->

<!-- Begin Page Content -->
<div class="container-fluid">
<!-- Page Heading -->
<div class="row">
    <div class="col-sm-12">
       <div class="card">
          <div class="card-body">
<!-- DITO KA MAS START MAGLAGAY NG LAMAN NG BODY -->

<div class="col-sm-12">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Edit Member</h1>
    </div>
 </div>
      <form method="post" action=" {% url "update_member" %} " >
         {% csrf_token %}
         {% include 'includes/messages.html' %}
         <fieldset>
            
          <legend>For Access</legend>
         <div class="form-group">
            <p style="color: red">Current Member/CustomUser ID: {{ member.admin.id }}</p>
             <input type="text" class="form-control" id="member_id" name="member_id" value= "{{ customuser.0.id }}" hidden required/>
             <label for="is_superuser">Is Superuser?</label>
             <select class="form-control" id="is_superuser" name="is_superuser" >
                {% if customuser.0.is_superuser == 1 %}
                    <option value="{{ customuser.0.is_superuser}}" selected> {{ customuser.0.is_superuser }} </option>  <!-- Current user type as default -->
                    <option value="0">False</option>
                {% elif customuser.0.is_superuser == 0 %}
                    <option value="{{ customuser.0.is_superuser }}" selected> {{ customuser.0.is_superuser }} </option>  <!-- Current user type as default -->
                    <option value="1">True</option>
                {% endif %}

            </select> 
            <p style="color: red" hidden>Current is_Active: {{ customuser.0.is_active }}</p>
            <label for="is_active">Is Active?</label>
            <select class="form-control" id="is_active" name="is_active" >
                {% comment %} <option value="{{ customuser.0.is_active }}" selected>{{ customuser.0.is_active }}</option>  <!-- Current salutation as default -->
                <option value="0" selected>False</option>  <!-- Default option if no salutation --> {% endcomment %}
                {% if customuser.0.is_active == 1 %}
                    <option value="{{ customuser.0.is_active }}" selected> {{ customuser.0.is_active }} </option>  <!-- Current user type as default -->
                    <option value="0">False</option>
                {% elif customuser.0.is_active == 0 %}
                    <option value="{{ customuser.0.is_active }}" selected> {{ customuser.0.is_active }} </option>  <!-- Current user type as default -->
                    <option value="1">True</option>
                {% endif %}

            </select> 
            {% comment %} <label for="is_superuser">Is Superuser?</label>
            <input type="number" class="form-control" id="is_superuser"
                placeholder="Enter 0 here(Not Superuser)" name="is_superuser" value= "{{customuser.0.is_superuser}}" />
            <label for="is_active">Is Active?</label>
            <input type="number" class="form-control form-control-user" id="is_active"
                placeholder="Enter 0 here(Not sActive)" name="is_active" value= "{{customuser.0.is_active}}" />  {% endcomment %}
           <label for="user_type">User Type?</label>
            <select class="form-control" id="user_type" name="user_type">
                {% if customuser.0.user_type == "1" %}
                    <option value="{{ customuser.0.user_type }}" selected> 1 - HOO / PRESIDENT </option>  <!-- Current user type as default -->
                    <option value="2">2 - OFFICER</option>
                    <option value="3">3 - MEMBER</option>
                {% elif customuser.0.user_type == "2" %}
                    <option value="{{ customuser.0.user_type }}" selected> 2 - OFFICER </option>  <!-- Current user type as default -->
                    <option value="1">1 - HOO / PRESIDENT</option>
                    <option value="3">3 - MEMBER</option>
                {% elif customuser.0.user_type == "3" %}
                    <option value="{{ customuser.0.user_type }}" selected> 3 - MEMBER </option>  <!-- Current user type as default -->
                    <option value="1">1 - HOO / PRESIDENT</option>
                    <option value="2">2 - OFFICER</option>
                {% elif customuser.0.user_type == "" %}
                    <option value="" disabled selected>Select User Type</option>  <!-- Default option if no user type -->
                    <option value="1">1 - HOO / PRESIDENT</option>
                    <option value="2">2 - OFFICER</option>
                    <option value="3">3 - MEMBER</option>
                {% endif %}
            </select> 

  </fieldset>

      <fieldset>
          <legend>Member Information</legend>
            <div class="form-group">
                <label for="membership_type">Membership Type</label>
                <p style="color: red">Current Membership Type: 
                {% if member and member.membershiptype %}
                    {{ member.membershiptype.membershiptype_name }}  <!-- Display the name of the current membership type -->
                {% else %}
                    None  <!-- Fallback message if no membership type is set -->
                {% endif %} </p>
                <select class="form-control" id="membership_type" name="membership_type" >
                    {% if member and member.membertype %}
                        <option value="{{ member.membertype.id }}" selected>{{ member.membertype.membershiptype_name }}</option>  <!-- Current membership type as default -->
                    {% else %}
                        <option value="" disabled selected>Select Membership Type</option>  <!-- Default option if no member -->
                    {% endif %}
    
                    {% for membershiptype in membershiptypes %}
                        {% if membershiptype.membershiptype_name %}  <!-- Exclude the current salutation from the list -->
                            <option value="{{ membershiptype.membershiptype_name }}">{{ membershiptype.membershiptype_name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>


          <p style="color: red">Current Member Type: {{ customuser.0.member_type }}</p>
          <label for="member_type">Member Type</label>
          <select class="form-control" id="member_type" name="member_type" >
                {% if customuser.0.member_type %}
                    <option value="{{ customuser.0.member_type }}" selected>{{ customuser.0.member_type }}</option>  <!-- Current salutation as default -->
                {% else %}
                    <option value="" disabled selected>Select Member Type</option>  <!-- Default option if no salutation -->
                {% endif %}

                {% for membertype in membertypes %}
                    {% if membertype.membertype_name != customuser.0.member_type %}  <!-- Exclude the current salutation from the list -->
                        <option value="{{ membertype.membertype_name }}">{{ membertype.membertype_name }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>

      <div class="form-group">
          <div class="form-group">
            <p style="color: red">Current Salutation: {{ customuser.0.salutation }}</p>
            <label for="salutation">Salutation</label>
            <select class="form-control" id="salutation" name="salutation" >
                {% if customuser.0.salutation %}
                    <option value="{{ customuser.0.salutation }}" selected>{{ customuser.0.salutation }}</option>  <!-- Current salutation as default -->
                {% else %}
                    <option value="" disabled selected>Select Salutation</option>  <!-- Default option if no salutation -->
                {% endif %}

                {% for salutation in salutations %}
                    {% if salutation.salutation_name != customuser.0.salutation %}  <!-- Exclude the current salutation from the list -->
                        <option value="{{ salutation.salutation_name }}">{{ salutation.salutation_name }}</option>
                    {% endif %}
                {% endfor %}

            </select>
          </div>
          <div class="form-group">
              <label for="first_name">First Name</label>
              <input type="text" style="text-transform: uppercase;" class="form-control form-control-user" id="first_name"
                  placeholder="First Name" name="first_name" value= "{{customuser.0.first_name}}" />
          </div>
          <div class="form-group">
              <label for="last_name">Last Name</label>
              <input type="text" style="text-transform: uppercase;" class="form-control form-control-user" id="last_name"
                  placeholder="Last Name" name="last_name" value= "{{customuser.0.last_name}}" />
          </div>
          <div class="form-group">
              <label for="middle_name">Middle Name</label>
              <input type="text" style="text-transform: uppercase;" class="form-control form-control-user" id="middle_name"
                  placeholder="Middle Name" name="middle_name" value= "{{customuser.0.middle_name}}"/>
          </div>
      </div>

      
      <div class="form-group">
          <label>Profile Picture</label>
          <input type="file" class="form-control" accept=".jpg, .jpeg, .png" name="profile_pic" value= "{{customuser.profile_pic}}"/>
       </div> 

       <div class="form-group">
        <p style="color: red">Current Position: {{ customuser.0.position }}</p>
          <label for="position">Position</label>
          <input type="text" style="text-transform: uppercase;" class="form-control form-control-user" id="position"
              placeholder="Position" name="position" value= "{{customuser.0.position}}"/>
      </div>
          <div class="form-group">
              <label for="email">Email Address</label>
              <input type="email" class="form-control form-control-user" id="email"
                  placeholder="Email Address" name="email" value= "{{customuser.0.email}}" />
          </div>

          <div class="form-group">
            <p style="color: red">Current Contact No: {{ member.contact_no }}</p>
          <label for="contact_no">Contact Number</label>
              <input type="text" class="form-control form-control-user" id="contact_no"
                  placeholder="Contact No. Ex. 09123456789" name="contact_no" maxlength="11" value= "{{customuser.0.contact_no}}" />
          </div>
          <div class="form-group">
              <label for="birthdate">Birthdate</label>
              <input type="date" class="form-control form-control-user" id="birthdate" name="birthdate"  value="{{customuser.0.birthdate|date:'Y-m-d' }}" />
          </div>
          <div class="form-group">
              <label for="facebook_profile_link">Facebook Profile Link:</label>
              <input type="url" class="form-control form-control-user" id="facebook_profile_link" name="facebook_profile_link" placeholder="https://www.facebook.com/yourprofile"  value= "{{customuser.0.facebook_profile_link}}"/>
          </div>
          <div class="form-group">
              <label for="proof_of_payment">Proof of Payment:</label>
              <input type="file" class="form-control" id="proof_of_payment" name="proof_of_payment" accept=".pdf, .jpg, .jpeg, .png"  value= "{{customuser.0.proof_of_payment}}" />
          </div>
         <div class="form-group">
              <label for="payment_date">Payment Date:</label>
              <input type="date" class="form-control" id="payment_date" name="payment_date"  value= "{{customuser.0.payment_date|date:'Y-m-d'}}" />
          </div> 
          
      </fieldset>
      <fieldset>
          <legend>Login Information</legend>
          <div class="form-group">
              <label for="username">Username</label>
              <input type="username" class="form-control form-control-user" id="exampleInputUsername"
                  placeholder="Username" name="username"  value= "{{customuser.0.username}}" />
          </div>

          <div class="form-group row">
              <div class="col-sm-6 mb-3 mb-sm-0">
                  <label for="password">Password</label>
                  <input type="password" class="form-control form-control-user"
                      id="exampleInputPassword" placeholder="Type 'Sample#01'" name="password"  value= "{{customuser.0.password}}" />
              </div>
              <div class="col-sm-6">
                  <label for="repeatpassword">Repeat Password</label>
                  <input type="password" class="form-control form-control-user"
                      id="repeatpassword" placeholder="Type 'Sample#01'" name="repeatpassword"  value= "{{customuser.0.password}}"/>
                      <label id="passwordError" class="form-label text-danger d-none">Passwords do not match.</label>
                  </div>
          </div>
      </fieldset>
          <div class="col-sm mb-3">
              <div class="form-group">
                  <label hidden>
                      <input type="radio" name="membershipAgreement" value="accepted" hidden />
                      I accept the terms of membership.
                  </label>
                 
              </div >
              <div class="agreement" hidden>
                  If accepted for membership, I agree to comply with the requirements of the By-Laws, and all regulations adopted by the Society with full knowledge of the responsibility imposed upon me.
              </div>
            </div>

            <div class="col-12">
               <button type="submit" class="btn btn-primary">Update Member</button>
            </div>

          {% comment %} <button id="registerButton" class="btn btn-primary btn-user btn-block" type="submit">Register</button> {% endcomment %}
          {% comment "" %}
          <hr>
          <a href="index.html" class="btn btn-google btn-user btn-block">
              <i class="fab fa-google fa-fw"></i> Register with Google
          </a>
          <a href="index.html" class="btn btn-facebook btn-user btn-block">
              <i class="fab fa-facebook-f fa-fw"></i> Register with Facebook
          </a>
          {% endcomment %}
      

      {% comment %} <div class="col-sm-11">
         <div class="form-group">
            <label>Start of Cycle</label>
            <input type="text" class="form-control" name="id" value= "{% for i in schoolyear %}{{i.id}}{% endfor %}"required hidden>
            <input type="date" class="form-control" name="sy_start" value= "{% for i in schoolyear %}{{i.sy_start|date:'Y-m-d'}}{% endfor %}"required>
            <br>
            <label>End of Cycle</label>
            <input type="date" class="form-control" name="sy_end" value="{% for i in schoolyear %}{{i.sy_end|date:'Y-m-d'}}{% endfor %}" required>
         </div>
      </div>

      <div class="col-12">
         <button type="submit" class="btn btn-primary">Update Cycle</button>
      </div> {% endcomment %}
   
</form>

<!-- DITO ANG END NG BODY. WAG KA LALAMPAS -->
    </div>
</div>
</div>
</div>

<!-- /.container-fluid -->
</div>
{% endblock  %}

