{% extends "includes/base.html" %}
{% load static %}
{% block content %}  
<!-- DITO KA MAS START MAGLAGAY NG LAMAN NG BODY -->
<h1 class="h3 mb-2 text-gray-800">Member Dashboard</h1>
    {% comment %} <p class="mb-4">Chart.js is a third party plugin that is used to generate the charts in this theme.
        The charts below have been customized - for further customization options, please visit the <a
        target="_blank" href="https://www.chartjs.org/docs/latest/">official Chart.js
        documentation</a>.</p> {% endcomment %}


<!-- DITO ANG END NG BODY. WAG KA LALAMPAS -->
</div>
</div>
{% endblock %}
